{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="container">
    <div class="row mx-md-n5" >
        <div class="col px-md-5" >
            <div class="col d-flex justify-content-center"></div>
                 <form  method="POST">
                 {% csrf_token %}
                 {{ form|crispy }}<br>
                 <p>Don't have an account? Create one <a href="/signup"><button type="button" class="btn btn-outline-warning">Signup</button></a></p><br>
                 <button class="btn btn-lg btn-warning" type="submit">Submit</button>
                <hr>
                </form>
            </div>
        </div>
    </div>
</div>            
{% endblock %}