{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div class="col d-flex justify-content-center">
   <div class="card" style="width: 18rem;">
        <img src="{{profile.Picture_Picture.url}}" class="card-img-top">
        <div class="card-body">
        	{% if profile.name is Null %}
          	<div class="alert alert-primary text-md-center text-danger" role="alert">
			  Please Set up Profile first!
			</div>
        	{% else %}
          <p class="card-text">Name-> {{profile.name}}</p>
          <p class="card-text">Contact No->  {{profile.Phone}}</p>
          <p class="card-text">{{profile.profile }}</p>
        	{% endif %}
        </div>
    </div>
</div>
<hr>  

{% endblock %}