{% extends 'base.html' %}
{% block content %}
<br>
<div class="row">
	<div class="col-md">
		<h4 style="text-align: center; color: yellowgreen;">Adds Order</h4>
		<div class="card card-body">
			<table class="table table-sm">
                <br>
                <form method="POST">
				  <i><b> {{ mss }} </b></i>
                  {% csrf_token %}  
                  {{form.as_p}}
                  <button type="submit" class="btn btn-warning btn-lg btn-block">Submit</button>
                </form>
			</table>
		</div>
	</div>
</div>
{% endblock content %}